html
  head
    meta(charset="UTF-8")
    meta(name="viewport",content="width=device-width,initial-scale=1.0")

    link(href="../../../jOrgChar/css/bootstrap.min.css", rel='stylesheet')
    link(href="../../../jOrgChar/css/jquery.jOrgChart.css", rel='stylesheet')
    link(href="../../../jOrgChar/css/custom.css", rel='stylesheet')
    link(href="../../../jOrgChar/css/chartCss.css", rel='stylesheet')

    script(src="https://code.jquery.com/jquery-1.12.0.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js")
    script(src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js")
    script(src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js")
    script(src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.3/underscore-min.js ')
    //- script(src="../js/flag_docs.js")
    //- script(src="../views/default/lib/jquery-chart/jquery.orgchart.js")
    //- script(src="jquery.orgchart.js")
    //- script(src='../../../jquery-chart/jquery.orgchart.js')
    script(src='../../../jOrgChar/js/jquery.jOrgchart.js')
    script(src='../../../jOrgChar/js/taffy.js')





    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" id="bootstrap")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet")
    link(href="https://cdn.datatables.net/1.10.11/css/dataTables.bootstrap.min.css", rel='stylesheet')
    //- link(href="../css/main_backend.css", rel='stylesheet')
    //- link(href='../css/flag_docs.css', rel='stylesheet')
    //- link(href='../css/flag_icon.css', rel='stylesheet')
    //- link(src='../../../jquery-chart/jquery.orgchart.css', rel='stylesheet')
    title Simple Backend