/*Font Colors*/

$base-font-size:18px;
$base-font-family:"raleway","Lantinghei TC","Microsoft JhengHei",sans-serif;
$base-font-color:#333;
$chinese:"heisei-kaku-gothic-std";
$english:"raleway", "文鼎黑體" ;

/*Font Size*/
$font-large:26px;
$font-normal:16px;

/*Background Colours*/

$primary-color:#f16b29;
$secondary-color:#fbaf5d;
$tertiary-color:#f68e56;
$light-color:#e4eef2;
$dark-color:#333333;
$white:#ffffff;
$navy:#0e324b;
$gray:#e8e8e8;
$ocean:#006aae;
$dark-orange:#BB531F;
/*Setting*/
$standard-padding:10%;

/* Showcase Area */

$showcase-height:400px;
$showcase-image:'../img/showcase.jpg';


$mob-sec-pad:30px;