@import './_sections.scss';
div#sec_home {
	background:url('../img/home_bg.jpg') no-repeat center;
	background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover;
	-o-background-size:cover;
	-webkit-background-size:cover;
	position: relative;
	.sg{
		background:url('../img/home_bg_2.jpg') no-repeat center;
	}

}