

//- head
//- 	meta(charset="UTF-8")
//- 	title Backend
//- body
//- 	h1 BackEnd Login
//- 	form(action="/login", enctype="multipart/form-data", method="post")
//- 		h3 account: 
//- 			input(type='text',name='acc',placeholder='account')
//- 		h3 password:
//- 			input(type='text',name='psw',placeholder='password')
//- 		input(type='submit',value='login')

//- extends layout
include ../default/head

block content
	.sec_login
		h2.form-signin-heading Please sign in
		form#login_form.form-signin(enctype="multipart/form-data") 
			input.form-control(type='text',name='hr_acc',placeholder='Account')
			input.form-control(type='password',name='hr_pwd',placeholder='Password')

			a#login_btn.btn.btn-lg.btn-primary Login

			div.span6.offset3.sec_login
				h2#error_mes 

	script(type='text/javascript').
		$(document).ready(function(){
			$('#login_btn').click(function(){
				$.ajax({
					type:'POST',
					url:'/login',
					data:$('#login_form').serialize(),
					dataType:'json',
					success:function(data){
						console.log(data);
						if(data.code == "200"){
							//登入成功 user info & user menu 已經存入session
							$(location).attr('href', '/layout');
						}else{
							$('#error_mes').text(data.values);
						}
					},
					error:function(err){
						console.log(err);
					}
				});
			});
		});
		